@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

.animate-zoomSlow {
  animation: zoomSlow 15s ease-out infinite alternate;
}

@keyframes fadeSlide {
  0% {
    opacity: 0.2;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0.7;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 3s ease-in-out infinite alternate;
}

.text-gold {
  color: #e3c07b;
}
